# --- Ambiente Virtual e Executáveis ---
# Ignora ambientes virtuais, pastas de Python portátil e instaladores
venv/
.venv/
env/
Python/
*.exe

# --- Cache e compilados de Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Dados Gerados ---
# Ignora a pasta de dados e arquivos de resultados
data/
data_internal/
*.csv
*.json
# O "!" inverte a regra: mantém o município.json que é essencial para o script
!municipios.json
!endpoints.json

# --- Arquivos de Sistema e IDE ---
.vscode/
.idea/
.DS_Store
Thumbs.db
.env
run.bat

# --- Logs ---
*.log

# --- Arquivos temporários criados pelo seu instalador ---
python_installer.exe