# --- Ambientes Virtuais e Executáveis ---
venv/
.venv/
env/
Python/
*.exe

# --- Cache e compilados de Python ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Dados Gerados (Data Lake Local) ---
# Ignora todo o conteúdo das pastas de dados, mas não as pastas em si
data/*
data_internal/*
*.parquet
*.csv
*.xlsx

# Exceção vital: Garante que as pastas subirão vazias para o GitHub
!data/.gitkeep
!data_internal/.gitkeep

# --- Arquivos de Teste do OCR (Imagens) ---
# Garante que você não faça upload das fotos de notas fiscais sem querer
*.png
*.jpg
*.jpeg

# --- Configurações Essenciais ---
# Ignora jsons perdidos na raiz, EXCETO os motores do seu sistema
*.json
!municipios.json
!endpoints.json

# --- Arquivos de Sistema, IDEs e Segredos ---
.vscode/
.idea/
.DS_Store
Thumbs.db
.env

# --- Scripts Antigos e Logs ---
run.bat
python_installer.exe
*.log